@charset "utf-8";

@font-face {
  font-family: "AppleBold";
  src: url("./assets/fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "AppleMedium";
  src: url("./assets/fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "AppleRegular";
  src: url("./assets/fonts/AppleSDGothicNeoR.ttf");
}

@font-face {
  font-family: "AppleLight";
  src: url("./assets/fonts/AppleSDGothicNeoL.ttf");
}

body {
  width: 100vw;
  margin: 0;
  font-family: "AppleRegular";
}

img {
  max-width: 100%;
  height: auto;
}
