@charset "utf-8";

@font-face {
  font-family: "nanumregular";
  src: url("./assets/fonts/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "nanumbold";
  src: url("./assets/fonts/NanumGothic-Bold.ttf");
}

@font-face {
  font-family: "nanumextra";
  src: url("./assets/fonts/NanumGothic-ExtraBold.ttf");
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'nanumregular';
}

img { max-width:100%; height: auto }